body {
  margin: o;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  user-select: none;
  background-image: url(image/Screenshot\ 2024-04-17\ at\ 08.51.42.png);
}

h1 {
  margin-top: 70px;
  font-size: 60px;
  color: #efb6d3;
}

#start {
  width: 200px;
  height: 70px;
  margin-top: 100px;
  font-size: 50px;
  border-radius: 20px;
  border: none;
  background-color: #efb6d3;
  color: #ef63d3;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#gubbe {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

#parta {
  width: 320px;
  height: 120px;
  margin-left: 400px;
}
